
# =========================
# Virtual Environment
# =========================
caption_env/
venv/
env/
.venv/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# TensorBoard logs
# =========================
logs/